# Build directories
build/
cmake-build-*/
out/
bin/
obj/

# Compiled binaries
*.exe
*.out
*.app
*.dll
*.so
*.dylib

# Object files
*.o
*.obj
*.a
*.lib

# Debug files
*.dSYM/
*.pdb

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
Makefile

# IDE files
.vscode/
.idea/
*.sln
*.vcxproj
*.vcxproj.filters
*.user

# system files
*.DS_Store
include/.DS_Store
src/.DS_Store
